<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Template1
        link(rel="stylesheet", href="../intro.css")
    body 
        a(href="../") < ë©”ë‰´ë¡œ ëŒì•„ê°€ê¸°
        center
            h1 ðŸ‘‹
            h1 ì•ˆë…• ì œì´ë“œ, ì´ì œëŠ” í¼ê·¸ì´ë¼ ë¶ˆëŸ¬ì•¼ê² ì§€? ë§Œë‚˜ì„œ ë°©ê°€
            h1 ë‚´ ì´ë¦„ì€ #{name}ìž…ë„¤ë‹¤ ðŸ‡°ðŸ‡µ
